footer{
    background: $primary-dark;
}

.footer-menu{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.footer-menu-link{
    display: inline-block;
    padding: 16px 16px 16px 16px;
    position: relative;
    @include typeface-1(h6, desktop);

    @include responsive(s){
        @include typeface-1(h6, mobile);
    }

    &:hover{
        padding: 8px 16px 16px 16px;
    }
}

.footer-items-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    @include responsive(s){
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
}
.footer-items-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    
    @include responsive(s){
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
}

// Veriicar espaçamentos do footer para deixar mais fiel ao figma